<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Tazor</title>
    <!-- CSS files -->
    <link href="http://localhost:9000/app-assets/tabler/css/tabler.min.css" rel="stylesheet"/>
    <link href="http://localhost:9000/app-assets/tabler/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="http://localhost:9000/app-assets/tabler/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="http://localhost:9000/app-assets/tabler/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="http://localhost:9000/app-assets/tabler/css/demo.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Space Grotesk', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body data-bs-theme="dark" class="border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container py-4">
        <div class="empty">
          <div class="empty-header">500</div>
          <p class="empty-title">An error was encountered!</p>
          <p class="empty-subtitle text-muted">
            Tazor experienced an internal error.<br><br>
          </p>
          <pre class="form-control">
            <%= err %>
          </pre><br><br>
          <div class="empty-action">
            <a href="./" class="btn btn-primary">
              <!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
              Home
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="http://localhost:9000/app-assets/tabler/js/tabler.min.js?1684106062" defer></script>
    <script src="http://localhost:9000/app-assets/tabler/js/demo.min.js?1684106062" defer></script>
  </body>
</html>