<html class="h-full">

<head>
  <title>Polaris</title>
  <link rel="icon" type="image/x-icon" href="../assets/polaris.png">
  <link rel="stylesheet" href="../app-assets/tailwind.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

  <!-- Inter font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Meta-->
  <meta name="title" content="Polaris">
  <meta name="description" content="The interconnected and seamless platform for free hosting, cloud and AI.">
  <meta name="keywords" content="polarisnode, polaris, free hosting, hosting, cloud servers, ai">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="SRYDEN, Inc.">
</head>

<body class="h-full bg-gray-100 p-12" style="font-family: 'Inter'">
  <div class="flex min-h-full">
    <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
          <img class="h-12 w-auto mb-8" src="https://cdn.discordapp.com/attachments/1170429889829154970/1214660996367392868/mercurysrv_5.png?ex=65f9ec34&is=65e77734&hm=ab8d5a3a80a063e404d24e227ef3393ac6e7d531e5ed6ab38a19abe0ec01e30e&" alt="Your Company">
          <h2 class="mt-6 text-3xl font-semibold tracking-tight text-gray-700">Sign in to your account</h2>
          <p class="mt-2 text-sm text-gray-600">
            Welcome back to Polaris!
          </p>
        </div>

        <div class="mt-16">
          <div>
            <div class="relative mt-6">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-300"></div>
              </div>
              <div class="relative flex justify-center text-sm">
                <span class="bg-gray-100 px-5 text-gray-500">Choose an OAuth2 provider</span>
              </div>
            </div>
          </div>

          <div class="mt-6">
            <form action="#" method="POST" class="space-y-6">
              <div>
                <a href="../login" class="transition inline-flex items-center rounded-2xl bg-gray-200 px-8 py-3 text-sm font-medium text-gray-600 hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600 w-full flex text-center justify-center">Sign in with Discord</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="relative hidden w-0 flex-1 lg:block">
      <img class="absolute inset-0 h-full w-full object-cover rounded-3xl" src="https://cdn.discordapp.com/attachments/1212737479371788309/1216722840250875946/pattern_hexagon-6_1.5_2_0-0_0_1__f3f4f6_dddfe4.png?ex=66016c72&is=65eef772&hm=d0c2a305d29ea48c66c15784d4efceb6eda6c4ccaebf91451c80506c4390976e&" alt="">
    </div>
  </div>
</body>